jupyter
llama-index
llama-index-readers-web
html2text
llama-index-embeddings-gemini
google-generativeai>=0.3.0
matplotlib
python-dotenv
llama-index-llms-gemini
langchain

llama-index-vector-stores-qdrant
fastembed

llama-index-embeddings-huggingface
llama-index-embeddings-instructor

spacy

llama-index-readers-google
llama-index-readers-remote

llama-index-readers-file 
pymupdf